
@{
    ViewData["Title"] = "Essay2";
}

<<div class="container">
    <div class="row">
        <div >
            <h2 class="fw-bold text-danger">Hamilelikte Depresyon</h2>
            <br />          
            <p class="custom-font">
               Hamilelik, bir kadının hayatında önemli ve heyecan verici bir dönem olsa da, bazı kadınlar için depresyon riski taşır. Hamilelikte hormonal değişiklikler, fiziksel rahatsızlıklar ve geleceğe dair endişeler, kadınların depresyona girmesine neden olabilir. Hamilelikte depresyon, anne adaylarının kendi sağlığı ve bebeğin sağlığı açısından önemli bir konudur ve tedavi edilmesi gereken bir durumdur. Depresyon, anne adaylarının günlük aktivitelerini ve gebelik sürecine olan katılımlarını etkileyebilir ve doğum sonrası depresyon riskini artırabilir. Hamilelikte depresyonun tedavisi, genellikle psikoterapi ve gerekirse ilaç tedavisi ile birlikte sağlanır ve gebelik sürecini desteklemeye odaklanır.

            </p>
        </div>
    </div>
</div>
