
@{
    ViewData["Title"] = "Essay1";
}
<div class="container">
    <div class="row">
        <div>
            <h2 class="fw-bold text-danger">Yaşlılıkta Depresyon</h2>          
            <br />
            <p class="custom-font">
                Yaşlılık, birçok kişi için huzurlu bir dönem olmasına rağmen, bazıları için depresyon riski taşıyan bir süreçtir. Yaşlılık döneminde fiziksel sağlık sorunları, kayıplar ve sosyal izolasyon gibi faktörler, depresyon riskini artırabilir. Depresyon, yaşlı bireylerde sıklıkla belirgin fiziksel semptomlarla birlikte ortaya çıkabilir ve yaşam kalitesini ciddi şekilde etkileyebilir. Yaşlılıkta depresyon, sıklıkla tanınmayabilir veya ihmal edilebilir, bu nedenle sağlık profesyonelleri ve aile üyeleri yaşlı bireylerin duygusal ve zihinsel sağlığını yakından takip etmelidir. Tedavi seçenekleri arasında psikoterapi, ilaç tedavisi ve sosyal destek önemli rol oynar ve yaşlı bireylerin yaşam kalitesini artırabilir.


            </p>
        </div>
    </div>
</div>