
@{
    ViewData["Title"] = "Essay3";
}

<div class="container">
    <div class="row">
        <div >
            <h2 class="fw-bold text-danger">Kadına Şiddet</h2>
            <br />                      
            <p class="custom-font">
             Kadına şiddet, toplumumuzun karşı karşıya olduğu ciddi bir sorundur ve birçok farklı şekilde kendini gösterebilir. Fiziksel, duygusal, cinsel ve ekonomik şiddet formlarını içeren bu tür şiddet, kadınların güvenliğini ve özgürlüğünü tehdit eder. Kadına şiddet genellikle toplumsal cinsiyet rolleri, güç dengesizlikleri ve kültürel normlar gibi derinlemesine kök salmış sorunların bir sonucudur. Kadına şiddetle mücadelede, toplumsal farkındalık artırılmalı, eğitim ve bilinçlendirme faaliyetleri desteklenmeli ve hükümetler etkili yasalar ve politikalar geliştirmelidir. Toplumun her kesimi, kadına şiddetin sona erdirilmesi için bir araya gelmeli ve mağdurlara destek sağlamalıdır.






            </p>
        </div>
    </div>
</div>

