
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="mb-4"></div>
        <div class="card-group">
            <div class="card">
                <img src="~/img/yaslilikta-depresyon.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Yaşlılıkta Depresyon</h5>
                    <p class="card-text">Yaşlı bireylerde sıkça görülen bir durumdur fiziksel sağlık sorunları, sosyal izolasyon,geçmişe yönelik endişeler gibi faktörlerle ilişkilidir. </p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/essay/essay1" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                   <p class="card-text"><small class="text-body-secondary">Last updated 7 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/hamile-depresyon.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Hamilelikte Depresyon</h5>
                    <p class="card-text">Hamilelik döneminde depresyon, hormonal değişimlerin, stresin, fiziksel ve duygusal zorlukların bir sonucu olarak ortaya çıkabilir.  </p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/essay/essay2" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 8 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/cinsel-siddet-scaled.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Kadına Şiddet</h5>
                    <p class="card-text">Kadına şiddet, cinsiyete dayalı şiddetin en yaygın ve zarar verici türlerinden biridir. Fiziksel, duygusal, ekonomik veya cinsel şekillerde ortaya çıkabilir.</p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/essay/essay3" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

                </div>
            </div>
        </div>

    </div>
</div>
<br />
div class="container">
<div class="row">
    <br />
 

    <div class="mb-4"></div>
    <div class="card-group">
        <div class="card">
            <img src="~/img/ozgul-fobi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Özgül Fobi</h5>
                <p class="card-text">Özgül fobi, belli bir nesne veya durum karşısında yoğun bir korku veya endişe duygusuyla belirginleşen bir anksiyete bozukluğudur.</p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 5 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/sosyal-fobi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sosyal fobi</h5>
                <p class="card-text">Sosyal fobi, sosyal etkileşimlerde veya topluluk önünde olma durumlarında aşırı rahatsızlık ve korku hissetmeyle kendini gösteren bir kaygı bozukluğudur. </p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 6 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/yaygin-anksiyete-bozuklugu22.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anksiyete Bozukluğu</h5>
                <p class="card-text">Anksiyete bozukluğu ise genel olarak belirsizlik, korku ve endişe duygularının sürekli olarak var olduğu bir durumdur.</p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>


