
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="mb-4"></div>
        <div class="card-group">
            <div class="card">
                <img src="~/img/pandemi.png" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">COVID-19 Pandemisi, Ruh Sağlığını Nasıl Etkiliyor?</h5>
                    <p class="card-text">COVID-19 pandemisi, sadece fiziksel sağlık üzerinde değil, aynı zamanda ruh sağlığı üzerinde de derin etkiler bırakıyor. Psikiyatristler, pandeminin insanların zihinsel sağlığına olan etkilerini ciddiye alıyor ve kamuoyunu bu konuda uyarıyor.</p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/News/news1" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                   <p class="card-text"><small class="text-body-secondary">Last updated 7 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/sosyal-medya-ve-zihinsel-saglik.png" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Dijital Dünya ve Gençlerin Zihinsel Sağlığı: Uzmanlar Endişeli</h5>
                    <p class="card-text">Günümüzde gençler, dijital cihazlara olan bağımlılıklarıyla giderek daha fazla karşı karşıya kalıyor. Sosyal medya platformları, video oyunları ve diğer çevrimiçi etkinlikler, gençlerin zamanlarının büyük bir kısmını kaplayarak zihinsel sağlık üzerinde ciddi etkiler yaratabiliyor.</p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/News/news2" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 7 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/mevsim-gecisleri-depresyon.jpeg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Mevsimsel Duygudurum Bozukluğu ve Bahar Depresyonu: Uzmanlar Uyarıyor</h5>
                    <p class="card-text">Mevsimsel duygudurum bozukluğu, özellikle bahar aylarında artan güneş ışığı ve sıcaklıkla birlikte ortaya çıkan bir durumdur. Bahar aylarında, bazı insanlar depresyon, kaygı ve huzursuzluk gibi belirtiler yaşayabilir. Bu durum, bahar depresyonu olarak da adlandırılır ve uzmanlar, bu dönemde dikkatli olunması gerektiği konusunda uyarıyor.</p>
                    <div style="display: grid; justify-content: end;">
                        <a href="/News/news3" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 7 mins ago</small></p>

                </div>
            </div>
        </div>

    </div>
</div>
<br />



