
@{
    ViewData["Title"] = "News2";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Dijital Dünya ve Gençlerin Zihinsel Sağlığı: Uzmanlar Endişeli</h2>
            <br />                  
            <p class="custom-font">
                Artan Ekran Süreleri ve Zorbalık Vakalarının Yükselişi

                Uzmanlar, gençlerin artan ekran sürelerinin, çevrimiçi zorbalık vakalarının ve diğer dijital etkileşimlerin ruh sağlığı üzerinde olumsuz etkilere neden olabileceği konusunda uyarıyor. Sosyal medyadaki mükemmeliyetçilik baskısı, çevrimiçi taciz ve diğer dijital tehditler, gençlerin psikolojik sağlığını olumsuz yönde etkileyebilir.

                Aileler ve Uzmanlar Ne Diyor?

                Aileler, gençlerin dijital dünya ile sağlıklı bir denge kurmalarına yardımcı olmak için çaba göstermelidir. Sınırlı ekran süreleri belirlemek, açık iletişim kurmak ve çocukların çevrimiçi etkinliklerini izlemek, gençlerin zihinsel sağlığını korumak için önemli adımlardır. Uzmanlar, ebeveynlere ve eğitimcilerine gençlerin dijital dünyayla sağlıklı ilişkiler geliştirmelerine yardımcı olacak stratejiler konusunda rehberlik ediyor.


            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/sosyal-medya-ve-zihinsel-saglik.png" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
                Bu haber, gençlerin ve ailelerin dijital dünya ile sağlıklı bir denge kurmalarına yardımcı olmak için tasarlanmıştır. Uzmanların endişeleri ve önerileri, gençlerin zihinsel sağlığını korumak ve dijital dünyayla dengeli bir ilişki kurmalarına yardımcı olmak için önemli ipuçları sunuyor.
            </p>

        </div>
    </div>
</div>
