
@{
    ViewData["Title"] = "News1";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">COVID-19 Pandemisi, Ruh Sağlığını Nasıl Etkiliyor?</h2>
            <br />                  
            <p class="custom-font">
                
                COVID-19 pandemisi, sadece fiziksel sağlık üzerinde değil, aynı zamanda ruh sağlığı üzerinde de derin etkiler bırakıyor. Psikiyatristler, pandeminin insanların zihinsel sağlığına olan etkilerini ciddiye alıyor ve kamuoyunu bu konuda uyarıyor.

                Artan Kaygı ve Stres Düzeyleri

                Karantina, sosyal izolasyon, ekonomik belirsizlik ve sağlık endişeleri gibi faktörler, birçok insanın kaygı ve stres düzeylerini artırıyor. Psikiyatristler, bu süreçte artan kaygı ve stresin depresyon, anksiyete ve diğer ruh sağlığı sorunlarına yol açabileceği konusunda uyarıyor.

                Toplumsal İzolasyon ve Yalnızlık

                Sosyal bağlantıların azalması, birçok kişinin yalnızlık duygularını artırıyor. Özellikle yaşlı bireyler ve tek başına yaşayanlar, pandemi sürecinde daha fazla izole olma riski altında. Psikiyatristler, bu grupların duygusal ve psikolojik destek almalarının önemini vurguluyor.

                            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/pandemi.png" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
                Mental Sağlığı Desteklemek İçin Öneriler

                Psikiyatristler, pandemi sürecinde ruh sağlığını korumanın önemini vurguluyor. Düzenli egzersiz, sağlıklı beslenme, sosyal bağlantıları sürdürme ve stresle başa çıkma teknikleri gibi stratejiler, mental sağlığı desteklemek için önemli adımlar olarak öne çıkıyor.

                COVID-19 pandemisi, ruh sağlığı üzerindeki etkileriyle ilgili olarak toplumun dikkatini çekmeye devam ediyor. Psikiyatristler, bu süreçte insanların duygusal ihtiyaçlarını anlamak ve desteklemek için çaba gösteriyor.

            </p>

        </div>
    </div>
</div>
