
@{
    ViewData["Title"] = "SSS";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sık Sorulan Sorular</title>
    <style>
        body {
            color: white; /* Metin rengi beyaz yapılıyor */
        }
    </style>
</head>
<body>
    <h1>Sık Sorulan Sorular</h1>
    <br />
    <div class="mb-5"></div>

    <div class="faq-item">
        <h2 class="question">Soru 1: Anksiyete nedir ve nasıl başa çıkabilirim?</h2>
        <p class="answer">Anksiyete, yoğun korku ve endişe hisleriyle belirginleşen bir durumdur. Başa çıkmak için, derin nefes alma, gevşeme teknikleri, düzenli egzersiz, sağlıklı beslenme ve stres yönetimi gibi stratejiler kullanılabilir.</p>
    </div>

    <div class="faq-item">
        <h2 class="question">Soru 2:Depresyon belirtileri nelerdir ve nasıl tedavi edilir?</h2>
        <p class="answer">Depresyon, sürekli üzgün hissetme, ilgi kaybı, enerji eksikliği, uyku ve iştah değişiklikleri gibi semptomlarla kendini gösterir.</p>
    </div>

    <div class="faq-item">
        <h2 class="question">Soru 3: Obsesif Kompulsif Bozukluk (OKB) nedir ve nasıl yönetilir?</h2>
        <p class="answer">OKB, tekrarlayan obsesyonlar (kaygı verici düşünceler) ve kompulsiyonlar (tekrarlayıcı davranışlar) ile karakterize edilen bir durumdur. </p>
    </div>

    <!-- Diğer sık sorulan sorular buraya eklenebilir -->

</body>
</html>
