
@{
    ViewData["Title"] = "Treatment";
}
<h2 class="fw-bold" style="color: white; text-align: center;">TEDAVİ YÖNTEMLERİ</h2>
<br />
<div class="mb-5"></div>


<div class="row">
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/1631353113256.jpeg" class="img-fluid rounded-start" alt="..." height="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kognitif Davranış Terapisi (KDT)</h5>
                        <p class="card-text">Bu terapi türü, bireyin korkularını ve endişelerini anlamasına, bu düşünceleri sorgulamasına ve değiştirmesine yardımcı olur. KDT, özellikle özgül fobiler ve sosyal fobi gibi anksiyete bozukluklarının tedavisinde etkili bir yöntemdir.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 18 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/esm2.jpg" class="img-fluid rounded-start" alt="..." height="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">İlaç Tedavisi</h5>
                        <p class="card-text">Anksiyete bozukluklarının tedavisinde bazı durumlarda ilaçlar reçete edilebilir. Özellikle genel anksiyete bozukluğu, panik bozukluk ve sosyal fobi gibi durumlarda antidepresanlar ve anksiyolitikler kullanılabilir.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 18 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/28311neden-ilac-tedavileri-gerekli.jpg" class="img-fluid rounded-start" alt="..." height="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Destekleyici Terapi</h5>
                        <p class="card-text">Kadına şiddet, yaşlılıkta depresyon ve hamilelikte depresyon gibi durumlar genellikle bireylerde derin duygusal izler bırakabilir. Destekleyici terapi, bireylere bu travmatik deneyimlerle başa çıkmalarında yardımcı olur. </p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 18 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/stresssss.png"  class="img-fluid rounded-start" alt="..." height="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Stres Yönetimi Teknikleri</h5>
                        <p class="card-text">Bu uygulamalar da anksiyete bozukluklarının tedavisinde etkili olabilir. Bu teknikler, bireyin stresle başa çıkma becerilerini geliştirmesine ve gevşeme durumuna geçmesine yardımcı olur.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 18 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>