
@{
    ViewData["Title"] = "Index";
}

div class="container">
<div class="row">
    <br />
 

    <div class="mb-4"></div>
    <div class="card-group">
        <div class="card">
            <img src="~/img/covid19-basin.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Aslı Gönül Güngör, Pandemi Sürecinde Ruh Sağlığına Önem Veriyor</h5>
                <p class="card-text">COVID-19 pandemisi sırasında toplumun ruh sağlığına odaklanıyor.</p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 16 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/dijit-basin.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Aslı Gönül Güngör, Dijital Bağımlılığın Zararlarına Karşı Bilgilendirme Seminerleri Düzenliyor</h5>
                <p class="card-text">Gençler arasında yaygınlaşan dijital bağımlılığa karşı mücadelede önemli bir rol üstlenen Dr. Aslı Gönül Güngör, toplumsal bilinçlendirme amacıyla düzenlediği seminerlerle dikkat çekiyor. </p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 1 h ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/mevsimler-basin.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Aslı Gönül Güngör, Mevsimsel Duygudurum Bozukluğuyla İlgili Yeni Bir Araştırma Yayınladı</h5>
                <p class="card-text">Dr. Aslı Gönül Güngör, mevsimsel duygudurum bozukluğu üzerine yaptığı araştırmaları paylaşarak, bu konudaki bilgi ve farkındalığı artırmayı hedefliyor.</p>
                <div style="display: grid; justify-content: end;">
                    <a href="#" class="btn btn-outline-primary rounded-pill me-4 mb-3">Devamını Oku</a>
                </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>


