
@{
    ViewData["Title"] = "Media3";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Dr. Aslı Gönül Güngör, Mevsimsel Duygudurum Bozukluğuyla İlgili Yeni Bir Araştırma Yayınladı</h2>
            <br />                  
            <p class="custom-font">
              Dr. Aslı Gönül Güngör, mevsimsel duygudurum bozukluğu üzerine yaptığı araştırmaları paylaşarak, bu konudaki bilgi ve farkındalığı artırmayı hedefliyor. Yayınladığı yeni araştırma, bahar ve sonbahar dönemlerindeki duygudurum değişikliklerini inceleyerek, etkili tedavi ve başa çıkma stratejileri üzerinde odaklanıyor.

            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/mevsimler-basin.jpeg" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
            </p>

        </div>
    </div>
</div>
