
@{
    ViewData["Title"] = "Media2";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Dr. Aslı Gönül Güngör, Dijital Bağımlılığın Zararlarına Karşı Bilgilendirme Seminerleri Düzenliyor</h2>
            <br />                  
            <p class="custom-font">
                Gençler arasında yaygınlaşan dijital bağımlılığa karşı mücadelede önemli bir rol üstlenen Dr. Aslı Gönül Güngör, toplumsal bilinçlendirme amacıyla düzenlediği seminerlerle dikkat çekiyor. Dijital teknolojilerin ruh sağlığı üzerindeki etkilerini vurgulayarak, sağlıklı dijital alışkanlıklar konusunda toplumu bilinçlendiriyor.
            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/dijit-basin.jpeg" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
            </p>

        </div>
    </div>
</div>
