@{
    ViewData["Title"] = "Blog2";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Sosyal Anksiyete</h2>
            <br />
            <p class="custom-font">
                Sosyal anksiyete, sosyal etkileşimlerde aşırı kaygı ve endişe yaşama eğilimi olarak tanımlanır. Bu durum, sosyal ortamlarda yargılanma veya reddedilme korkusuyla ilişkilidir. Sosyal anksiyete bozukluğu olan bireyler genellikle kalabalık ortamlardan kaçınma, konuşma yapmaktan veya topluluk önünde performans sergilemekten kaçınma gibi davranışlar sergilerler. Bu durum, sosyal etkileşimlerde rahatsızlık veya korku hissetmekle birlikte, günlük yaşamı olumsuz etkileyebilir.


            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/yaygin-anksiyete-bozuklugu22.jpg" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
                Sosyal anksiyete bozukluğu, genellikle çocukluk veya ergenlik döneminde başlar ve yaşam boyu devam edebilir. Tedavi seçenekleri arasında bilişsel davranış terapisi (BDT), ilaç tedavisi ve sosyal beceri eğitimi yer alır. Destek ve tedavi ile, sosyal anksiyete bozukluğu olan bireyler genellikle semptomları yönetebilir ve daha sağlıklı sosyal ilişkiler kurabilirler
            </p>

        </div>
    </div>
</div>
