
@{
    ViewData["Title"] = "Blog3";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Kadına Şiddet</h2>
            <br />
            <p class="custom-font">
                Kadına şiddet, toplumun yaygın bir sorunu olarak karşımıza çıkıyor. Fiziksel, duygusal, cinsel ve ekonomik şekillerde kendini gösterebilir. Kadına yönelik şiddet, kadınların yaşamlarını tehdit ederken, fiziksel yaralanmalara ve psikolojik travmalara yol açabiliyor. Toplumda kök salmış cinsiyetçi inançlar ve güç dengesizlikleri, bu tür şiddetin devam etmesine katkıda bulunuyor. Kadına yönelik şiddetle mücadelede toplumsal farkındalık artırılmalı ve eğitim önemli bir rol oynamalıdır.


            </p>

        </div>
        <div class="col-md-6">

            <img src="~/img/cinsel-siddet-scaled.jpg" class="img-fluid  position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <br />
            <p class="custom-font">
                Hükümetler, yasaları güçlendirerek şiddeti önlemek için etkili önlemler almalıdır. Kadın hakları savunucuları, mağdurlara destek sağlamak ve onların seslerini duyurmak için çalışıyorlar. Kadına şiddetle mücadelede, toplumun her kesimi sorumluluk almalı ve sessizliği kırmalıdır. Toplumsal cinsiyet eşitliğini teşvik etmek ve kadınların güçlenmesini desteklemek, uzun vadeli çözümler arasında yer alıyor. Kadına şiddetin sona erdirilmesi için kararlılıkla hareket etmek, toplumumuzun daha güvenli ve adil bir yer olmasını sağlayacaktır.
            </p>

        </div>
    </div>
</div>
