@{
    ViewData["Title"] = "About";
}





<div class="container">
<div class="row">
    <div class="col-md-6">
        <h2 class="fw-bold text-danger">Hakkımda</h2>
        <br />
        <h4 class="fw-bold" style="color: white;">Aslı Gönül Güngör</h4>

        <br />
        <p class="custom-font">
            Ruhsal sağlıkla ilgili uzmanlık alanımda çalışan bir hekimim. Çukurova Üniversitesi'nde tıp eğitimimi tamamladıktan sonra psikiyatri alanında doktora yaparak uzmanlık seviyemde derinleştirdim.
                Her bireyin benzersiz ihtiyaçlarına özel olarak odaklanarak, onların sağlıklı bir yaşam sürmelerine yardımcı olmayı amaçlıyorum.Her bireyin benzersiz ihtiyaçlarına özel olarak odaklanarak, onların sağlıklı bir yaşam sürmelerine yardımcı olmayı amaçlıyorum.



            </p>
      
    </div>
    <div class="col-md-6">
        <!-- Buraya hakkınızda bir fotoğraf gelecek -->
        <img src="~/img/istockphoto-1372002650-1024x1024.jpg" class="img-fluid rounded-circle position-relative top-50 translate-middle-y float-end" alt="Your Image">
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div>
           <br />
            <p class="custom-font">
                1994-1999 yılları arasında Bakırköy Ruh ve Sinir Hastalıkları Hastanesi'nde uzmanlık eğitimi aldım. Mesleki eğitimlerim arasında psikodrama, psikoanalitik psikoterapi, cinsel terapi, şema terapi, EMDR Terapisi ve Travma Terapisi eğitimleri bulunmaktadır.
                Çalışmalarımı kendi kurduğum merkezde sürdürüyorum ve özellikle vajinismuslu kadınlar üzerine Bakırköy Ruh ve Sinir Hastalıkları Hastanesi'nde Cinsel İşlev Bozuklukları polikliniğinde tez çalışması yaptım. Ayrıca, Cinsel Eğitim ve Tedavi Araştırma Derneği'nde eğitici terapist olarak görev alıyorum.
                Mesleki dernek üyeliklerim arasında Türkiye Psikiyatri Derneği, İstanbul Tabip Odası ve CETAD 2. Başkanlığı bulunmaktadır. Ayrıca, Avrupa Sexoloji Birliği (EFS) ve Avrupa Cinsel Tıp Birliği (ESSM) tarafından tanınan "Psikoseksüel Terapist" ünvanına sahibim. Kariyerimde önemli bir dönüm noktası, kendi psikiyatri merkezimi kurmam oldu. Merkezimde, her bireyin benzersiz ihtiyaçlarına odaklanarak ruhsal sağlık sorunlarıyla baş etmelerine yardımcı olmaya çalışıyorum. Özellikle vajinismuslu kadınlar üzerine yaptığım çalışmalar ve Cinsel Eğitim ve Tedavi Araştırma Derneği'nde eğitici terapist olarak görev almam, beni bu alanda uzmanlaşmış bir hekim olarak tanınmama yardımcı oldu.
                Her bireyin benzersiz ihtiyaçlarına odaklanarak, sağlıklı bir yaşam sürmelerine yardımcı olmayı amaçlıyorum.
            </p>
            
        </div>
    </div>
</div>