@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="fw-bold text-danger">Hakkımda</h2>
            <br />
            <h4 class="fw-bold" style="color: white;">Aslı Gönül Güngör</h4>

            <br />
            <p class="custom-font">
               Ruhsal sağlıkla ilgili uzmanlık alanımda çalışan bir hekimim. Çukurova Üniversitesi'nde tıp eğitimimi tamamladıktan sonra psikiyatri alanında doktora yaparak uzmanlık seviyemde derinleştirdim.
                Her bireyin benzersiz ihtiyaçlarına özel olarak odaklanarak, onların sağlıklı bir yaşam sürmelerine yardımcı olmayı amaçlıyorum.
                

            </p>
            <a href="\Home\About" class="btn btn-primary rounded-pill position-relative bottom-0 end-0 me-4 mb-3">Devamını Oku</a>
        </div>
        <div class="col-md-6">
            
            <img src="~/img/istockphoto-1372002650-1024x1024.jpg" class="img-fluid rounded-circle position-relative top-50 translate-middle-y float-end" alt="Your Image">
        </div>
    </div>
</div>


<br />
<div class="mb-5"></div>


<div class="container">
    <div class="row">
        <br />
        <h2 class="fw-bold text-danger">Çalışma Alanlarım</h2>

        <div class="mb-4"></div>
        <div class="card-group">
            <div class="card">
                <img src="~/img/ozgul-fobi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Özgül Fobi</h5>
                    <p class="card-text">Özgül fobi, belli bir nesne veya durum karşısında yoğun bir korku veya endişe duygusuyla belirginleşen bir anksiyete bozukluğudur.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/img/sosyal-fobi.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                    <h5 class="card-title">Sosyal fobi</h5>
                    <p class="card-text">Sosyal fobi, sosyal etkileşimlerde veya topluluk önünde olma durumlarında aşırı rahatsızlık ve korku hissetmeyle kendini gösteren bir kaygı bozukluğudur. </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/img/yaygin-anksiyete-bozuklugu22.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Anksiyete Bozukluğu</h5>
                    <p class="card-text">Anksiyete bozukluğu ise genel olarak belirsizlik, korku ve endişe duygularının sürekli olarak var olduğu bir durumdur.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="container">
    <div class="row">
        <div class="mb-4"></div>
        <div class="card-group">
            <div class="card">
                <img src="~/img/yaslilikta-depresyon.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Yaşlılıkta Depresyon</h5>
                    <p class="card-text">Yaşlılıkta depresyon, yaşlı bireylerde sıkça görülen bir durumdur ve genellikle fiziksel sağlık sorunları, sosyal izolasyon, kayıp ve geçmişe yönelik endişeler gibi faktörlerle ilişkilidir. </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/img/hamile-depresyon.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Hamilelikte Depresyon</h5>
                    <p class="card-text">Hamilelik döneminde depresyon, hormonal değişimlerin, stresin, fiziksel ve duygusal zorlukların bir sonucu olarak ortaya çıkabilir.  </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/img/cinsel-siddet-scaled.jpg" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="card-title">Kadına Şiddet</h5>
                    <p class="card-text">Kadına şiddet, cinsiyete dayalı şiddetin en yaygın ve zarar verici türlerinden biridir. Fiziksel, duygusal, ekonomik veya cinsel şekillerde ortaya çıkabilir.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

    </div>
</div>