<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: white;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h1 {
            text-align: center;
            color: white;
        }
        .contact-info {
            margin-top: 30px;
        }
        .contact-info p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>İletişim Bilgileri</h1>
        <div class="contact-info">
            <p><i class="fas fa-map-marker-alt"></i> <strong>Adres:</strong> Doktor Blog, Karanfil Sokak No: 123, Adana, Türkiye</p>
            <p><i class="fas fa-phone"></i> <strong>Telefon:</strong> 0123 456 78 90</p>
            <p><i class="fas fa-envelope"></i> <strong>E-posta:</strong> info@doktorblog.com</p>
        </div>
    </div>
    <!-- Bootstrap JS ve Font Awesome JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>